// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-content {
  padding: 15px;
}

.post-tags {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey; 
}
.breadcrumb-container {
  background-image: url('pink dust.png');
}
.breadcrumb {
  background-color: transparent;
}
.content-container {
  margin-top: 15px;
  .post-image {
    max-width: auto;   
  }
}